Articles
<%# 新規投稿ボタン %>
<div class="fixed-action-btn">
  <%= link_to(new_article_path, {class: "btn-floating btn-large waves-effect waves-light red"}) do %>
    <i class="material-icons">mode_edit</i>
  <% end %>
</div>