<%# form部分 %>
<%# dkind.is_check?の部分でtrue, falseの初期値判定 %>
<div class="row">
  <%= form_for(user_dkind, html: {class: "coll s12"}) do |f| %>
    <% dkinds.each_with_index do |dkind, idx| %>
      <div class="row">
        <div class="switch col s2">
          <h6><%= dkind.jp %></h6>
        </div>
        <div class="switch col s10">
          <label>
            使用しない
            <%= f.check_box dkind.code,
                            {:checked => dkind.is_check?(current_user)},
                            dkind.id,
                            "false" %>
            <span class="lever"></span>
            使用する
          </label>
          
        </div>
      </div>
    <% end %>

    <%= button_tag('登録', {class: "btn waves-effect waves-light orange",
                                         type: "submit"}) %>
  <% end %>
</div>